<!--
    the profile 
    1. display the total number of rabbits
    2. username, display, name of rabbitry
    3. total buck, does, dead, litters, weaned, sold, purchased
    4. 
    
--> {% extends 'base.html' %}

{% block title %} My Profile {% endblock %}

{% block content %}


{% if user.is_authenticated %}

<b>Hutch ID: </b> {{ user.username }} <br>
<b>Email: </b> {{ user.email }}.
<br>
{% endif %}
{{ sess }}

<h2 class='text-center'> Hutch Details </h2>
    {% if user.rabbits %} {% set my_rab = user.rabbits %}
<p>  My total rabbits: {{ my_rab|length }}</p>
<p> Total available <b>bucks</b>: </p>
{% endif %}

<hr>
{{ rabbit['boy'] }}
dd

        {% if r1 %}


        {% endif %}

<!--<p> Total available <b>does</b>: </p>-->
<!--<p> Total <b>weaned</b>: </p>-->
<!--<p> Total <b>sold</b>: </p>-->
<!--<p> Total <b>purchased</b>: </p>-->

<hr>





{% endblock %}