{% extends "base.html" %}
{% block title %} Add Rabbit {% endblock %}

{% block content %}


<div class="col-8 justify-content-md-center mx-auto">
    <form method="POST" >
        <div class="form-group  align-items-center">
            <fieldset>
                <legend>Rabbit Details</legend>
                <div class="form-group">
                    <label  class="form-check-label" for="name">Tag ID/Hutch ID:</label>
                        <input class="form-control" type="text" id="name" name="name" required />
                </div>
  
                <div class="form-group">
                    <label class="form-check-label" for="sex">Sex:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" value="buck" required />
                        Buck</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" value="doe" required />
                        Doe
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="category">Breed:</label>
                    <select class="custom-select" id="category" name="category">
                        {% if category %}
                        {% for category in category %}
                        <option value="{{ category.category }}"> {{ category.category }}</option>
                        {% endfor %}
                        {% elif category == '?' %}
                        <option value="undefined"> You don't have any defined breed yet! </option>
                        {% endif %}
                        <option value="undefined"> Undefined </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="kindle-date">kindled date:</label>
                    <input type="date" class="form-control" name="kindled_date" />
                </div>

                
                    
            </fieldset>
        </div> 
            <div>
                <input type="submit"  class="btn btn-primary" value="Add to Hutch"/>
            </div>   
      
    </form>
</div>

{% endblock %}