{% extends 'base.html' %} 

{% block content %}



<div class="row justify-content-md-center">

<table class="table table-striped table-hover col-7">
    <thead class="table-primary">
        <tr>
            <th scope="col"> Name/SN </th>
            <th scope="col"> Description </th>
            <th scope="col"> Sex </th>
            <th scope="col">  </th>
            <th scope="col">  </th>

        </tr>
    </thead>
    <tbody> 
        {% for rabbit in user.rabbits %}
        <tr>
            <th  scope="row"> {{ rabbit.name }} <br> </th>
            <td> {{ rabbit.category }}  </td>
            <td> {{ rabbit.sex }}  </td>
            <td> <a href="{{url_for ('views.get_rabbit', rabbit_id =rabbit.id )}}"
                    class="btn btn-info">Details</a>
            </td>

            <td> Remove</td>
        </tr>     <hr>
            {{rabbit.id}}
        {% endfor%}
    </tbody>
</table>
</div>


{% endblock %}