<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link href="{{ url_for('static', filename='css/bootstrap4-4.css') }}" rel="stylesheet"/>
    <title>{% block title %} {% endblock %}</title> 
</head>

<body class="container">

    <div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark"><span class="text-center navbar-brand"><a href="{{url_for('views.home')}}"><img src="/static/images/bunny.png" alt="bunny.png" height="10%" width="10%"><span class="font-weight-bold"> HuTcH </span></a></span>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#Navbar"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav">
                        {%if user.is_authenticated %}
                        <li class="nav-item"> <a href="{{url_for ('auth.logout')}}" class="nav-link">Logout </a> </li>
                        <li class="nav-item"> <a href="{{url_for ('views.profile')}}" class="nav-link"> Profile </a> </li>
                        <li class="nav-item"> <a href="{{url_for ('views.add')}}" class="nav-link">Add a Rabbit </a> </li>
                        <li class="nav-item"> <a href="{{url_for('views.list')}}" class="nav-link">All Rabbits </a>
                        </li>


                        {% else %}
                        <li class="nav-item"> <a href="/login" class="nav-link">Login</a> </li> 
                        <li class="nav-item"> <a href="{{url_for ('auth.register')}}" class="nav-link">Register </a> </li> 
                    </ul>
                        {% endif %}
                </div>
            </nav>
            


            
        
    
            <!--
                <button type="button" data-toggle="collapse" data-toggle="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button> 
                
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                
                    
                </div>-->
        
                
                <br>
            

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for  category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger alert-dismissable fade show" role="alert"> 
                                {{ message }}
                                    <button type="button" class="close" data-dismiss="alert"> x </button>
                                </div>
                                    {% else %}
                                <div class="alert alert-success alert-dismissable fade show" role="alert"> 
                                {{ message }}
                                    <button type="button" class="close" data-dismiss="alert"> x </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
                {% endwith %}
        
        {% block content %} {% endblock %}

            <script src="{{ url_for('static', filename='js/popper.js') }}" type="text/javascript"></script>
            <script src="{{ url_for('static', filename='js/jquery-3-6.js') }}" type="text/javascript"></script>
            <script src="{{ url_for('static', filename='js/bootstrap4-4.js') }}" type="text/javascript"></script>
    </div>
</body>
</html>